[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gamlss.spatial"]
	path = gamlss.spatial
	url = https://github.com/cran/gamlss.spatial
